// $background: #232526; /* fallback for old browsers */
// $background: -webkit-linear-gradient(
//   to bottom,
//   #232526,
//   #414345
// ); /* Chrome 10-25, Safari 5.1-6 */
$background: linear-gradient(
  to bottom,
  #232526,
  #414345
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.App {
  background: $background;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  height: 100%;
}

p {
  margin: 0;
}
