@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.main {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 2%;
  &__menu {
  }

  &__button {
    background-color: #f29f05;
    font-family: "Bebas Neue", cursive;
    margin: auto;
    border: none;
    color: white;
    padding: 5px 20px;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;

    border-radius: 2px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  &__button:hover {
    cursor: pointer;
    background-color: #f28705;
    border-radius: 9px;
  }

  &__button:disabled {
    cursor: default;
    background-color: rgb(148, 147, 147);
    border-radius: 9px;
  }
}
