.materials {
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all 4.5s linear;
  -moz-transition: all 4.5s linear;
  -o-transition: all 4.5s linear;
  -ms-transition: all 4.5s linear;
  transition: all 4.5s linear;

  @media (min-width: 700px) {
    width: 90%;
  }

  &__swiper {
    background-color: blue;
  }

  &__icons {
    font-size: 80px;
    color: #bcbaba;
  }

  &__icons:hover {
    cursor: pointer;
    font-size: 80px;
    color: #fa7336;
  }
}
