.menu {
  text-align: center;
  margin-top: 10%;
  font-size: 24px;
  color: #fff;

  &__button {
    background-color: #f29f05;
    border: none;
    color: white;
    padding: 15px 25px;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;

    border-radius: 2px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  &__button:hover {
    cursor: pointer;
    background-color: #f28705;
    border-radius: 9px;
    filter: url(#threshold) blur(0.3px);
  }
}
